
@import 'nav';
@import 'button';
$box-width: 20px;
$color: purple;

/*this is the body scss mockup*/
body{
	
	background-color: teal;
}

@mixin border-radius($radius)
{
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin orange($opacity)
{
	background-color: rgba(255, 165, 0, 1);
}

/*the is the green background*/

@mixin green($opacity)
{
	background-color: rgba(0, 255, 0, 1);
}

title{
	@include green(2px);
	text-align: center;
}


p{
	@include border-radius(9px);
	@include orange(2px);

}

.box{
  font-size: 20px;
  background: $color;
  @p(3px);
}


.para2{
	font: $color;
}


